.wave {
  width: 100%;
  min-height: 140vh;
}
.wave {
  position: relative;
  background: linear-gradient(to top right, #4905b9, #9c03bb);
}
.wave .header {
  margin-top: 1.5rem;
}
.wave .logop {
  text-transform: uppercase;
  font-size: 8px;
  color: white;
  margin-top: 1rem;
}
.wave .circle1 {
  display: inline-block;
}
.wave .circle {
  background-color: white;
  border-radius: 120px;
  opacity: 0.5;
  display: inline-block;
}
.wave .circle p {
  padding: 2rem 1.5rem 1rem 1.5rem;
  text-align: center;
  font-size: 18px;
}
.wave .right {
  display: inline-block;
}
.wave .phone {
  font-size: 24px;
  text-align: right;
  text-transform: uppercase;
  color: white;
}
.wave .under {
  font-size: 10px;
  text-align: right;
  text-transform: uppercase;
  color: white;
}
.wave .logo {
  display: inline-block;
}
.wave:before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 215px;
  background: url(../img/Untitled-1.png);
  background-size: cover;
  background-repeat: no-repeat;
}
.main {
  margin-top: 2rem;
}
.main h1 {
  line-height: 50px;
  margin-top: 10rem;
  font-size: 40px;
  text-transform: uppercase;
  color: white;
  text-align: left;
  font-weight: bold;
}
.main p {
  margin-top: 3.5rem;
  font-weight: lighter;
  font-size: 18px;
  text-transform: uppercase;
  color: white;
  text-align: left;
}
.main .maintitle {
  display: inline-block;
}
.main .illustration {
  display: inline-block;
}
.main .illustration img {
  display: inline-block;
  margin-top: 15rem;
}
.main .btn {
  background: #fc0;
  /* Цвет фона */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  /* Параметры тени */
  margin-top: 8rem;
  background-color: #9c03bb;
  border-radius: 50px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  padding: 2rem 3rem 2rem 3rem;
}
.featuress {
  padding-top: 5rem;
  padding-bottom: 7rem;
}
.featuress .title h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
  margin-bottom: 7rem;
}
.featuress .blocks {
  margin: 1rem 1rem 1rem 1rem;
}
.featuress .blocks .block {
  margin-bottom: 5rem;
}
.featuress .blocks .h1 {
  font-size: 16px;
  text-transform: uppercase;
  margin-bottom: 2rem;
}
.featuress .blocks .p {
  font-size: 13px;
  color: #4c4b4b;
  line-height: 1.5;
  font-weight: lighter;
}
.featuress .blocks img {
  margin-top: 1rem;
  max-width: 100px;
}
.products {
  background-color: #5135bd;
  padding-bottom: 10rem;
}
.products .title h2 {
  padding-top: 7rem;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
}
.products .cards {
  margin-top: 5rem;
}
.products .card {
  margin-top: 5rem;
  min-height: 40rem;
  max-width: 40rem;
  padding-top: 3rem;
  padding-bottom: 1rem;
  border-radius: 15px;
  text-align: center;
  background-color: #701ec1;
  opacity: 1;
}
.products .card .maintitle {
  padding-top: 2rem;
  padding-bottom: 2rem;
}
.products .card .maintitle img {
  margin-bottom: 4rem;
}
.products .card .maintitle .title2 {
  margin-top: 2rem;
}
.products .card .maintitle .title2 span {
  font-size: 24px;
}
.products .card .maintitle p {
  color: white;
  font-size: 18px;
  text-transform: uppercase;
}
.products .card .main-content {
  margin-bottom: 4rem;
  text-align: center;
  color: white;
}
.products .card .main-content p {
  padding-top: 15px;
  font-size: 14px;
  text-transform: uppercase;
}
.products .card .footercard {
  margin-bottom: 4rem;
}
.products .card .footercard .btn {
  background: #fc0;
  /* Цвет фона */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  /* Параметры тени */
  background-color: #9c03bb;
  border-radius: 50px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  padding: 2rem 3rem 2rem 3rem;
}
.features {
  padding-bottom: 7rem;
}
.features h2 {
  margin-top: 7rem;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
  margin-bottom: 9rem;
}
.features img {
  max-width: 100px;
}
.features-block {
  text-align: center;
}
.features-block h3 {
  font-size: 2rem;
  margin-bottom: 3rem;
}
.features-block p {
  display: inline-block;
  width: 80%;
  font-size: 1.4rem;
}
.features-img {
  margin-bottom: rem;
}
.features-img img {
  display: block;
  margin: 0 auto;
}
.features .slick-active {
  outline: none;
}
.features .arrow {
  top: 50%;
  transform: translateY(50%);
  position: absolute;
  z-index: 99;
  width: 2rem;
  height: 2rem;
  border: none;
}
.features .prev {
  left: 0;
  background: url(../img/left.png) center no-repeat;
  background-size: 70%;
}
.features .next {
  right: 0;
  background: url(../img/right.png) center no-repeat;
  background-size: 70%;
}
.myluchshe {
  padding-top: 7rem;
  padding-bottom: 7rem;
  background-color: #5135bd;
}
.myluchshe p {
  font-weight: lighter;
}
.myluchshe .title h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: white;
  font-weight: bolder;
  margin-bottom: 7rem;
}
.myluchshe .circle img {
  margin-top: 1rem;
}
.myluchshe .text {
  color: white;
}
.faq {
  padding-top: 7rem;
  padding-bottom: 7rem;
}
.faq .title h2 {
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
  color: black;
  font-weight: bolder;
  margin-bottom: 7rem;
}
.faq h3 {
  font-size: 18px;
  font-weight: bold;
  text-transform: uppercase;
}
.faq p {
  font-size: 14px;
  font-weight: lighter;
  text-transform: uppercase;
  margin-top: 3rem;
}
.footer {
  padding-top: 3rem;
  padding-bottom: 5rem;
  background-color: #4e0495;
  color: white;
  text-transform: uppercase;
}
.footer .col-lg-2 {
  display: inline-block;
}
.footer img {
  max-width: 100px;
  display: inline-block;
}
.footer p {
  font-size: 10px;
}
.footer .phone {
  display: inline-block;
}
.footer .phone p {
  font-size: 18px;
}
.popup {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 9;
  background-color: rgba(0, 0, 0, 0.5);
}
.popup h4 {
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  font-size: 19px;
}
.popup p {
  color: white;
  text-transform: uppercase;
  font-size: 14px;
}
.popup label {
  text-transform: uppercase;
  color: white;
  padding-top: 1.5rem;
  padding-bottom: 1rem;
}
.popup .btn {
  background: #fc0;
  /* Цвет фона */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.6);
  /* Параметры тени */
  margin-top: 8rem;
  background-color: #9c03bb;
  border-radius: 50px;
  font-size: 12px;
  text-transform: uppercase;
  color: white;
  padding: 2rem 3rem 2rem 3rem;
}
.popup-content {
  border-radius: 15px;
  position: fixed;
  left: 50%;
  top: 10%;
  background-color: #7324b8;
  transform: translateX(-50%);
  padding: 4rem 6rem;
}
.popup-form {
  margin-top: 3rem;
  padding: 0;
}
.popup-close {
  position: absolute;
  top: -1.5rem;
  right: -2rem;
  width: 2rem;
  text-align: center;
  border: none;
  background-color: transparent;
  font-size: 3rem;
  color: white;
}
.popup-content {
  text-align: center;
}
@media (max-width: 1090px) {
  .wave .container .main .illustration img {
    width: 300px;
  }
}
@media (max-width: 697px) {
  .myluchshe .stone {
    border-bottom: 1px solid white;
    display: inline-block;
    padding-bottom: 2rem;
  }
  .myluchshe .copystone {
    margin-top: 3rem;
  }
  .products .col-sm-6 {
    display: inline-block;
    text-align: center;
  }
  .products .col-sm-6 .card {
    display: inline-block;
    text-align: center;
  }
  .products .title {
    margin-top: -2rem;
  }
  .wave {
    height: 170vh;
  }
  .wave .container .header .row .logo {
    margin-left: 1rem;
    text-align: center;
  }
  .wave .container .header .row .right {
    text-align: center;
  }
  .wave .container .main {
    margin-top: -2rem;
  }
  .wave .container .main h1 {
    text-align: center;
  }
  .wave .container .main p {
    text-align: center;
  }
  .wave .container .main .contactbtn {
    text-align: center;
  }
  .wave .container .main img {
    display: none;
  }
  .featuress {
    margin-top: -5rem;
  }
  .featuress .blocks {
    text-align: center;
  }
  .footer {
    padding-top: 1rem;
    padding-bottom: 0.5rem;
  }
}
